<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p>Hii</p>
<div *ngIf="message">
  {{message}} 
</div>

<app-home></app-home>
<router-outlet></router-outlet>
